@font-face {
  font-family: Jakarta;
  src: url(./assets/fonts/PlusJakartaDisplay-Regular.otf);
}

@font-face {
  font-family: JakartaLight;
  src: url(./assets/fonts/PlusJakartaDisplay-Light.otf);
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
